html, body {
    background-color: #393939;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.txt{
    color: #393939;
}

.header {
    background-image: linear-gradient(to bottom right, #F9D796, #F39F86);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header-btns {
    display: flex;
    gap: 20%;
}

.header-link {
    text-decoration: none;
}


.footer{
    background-image: linear-gradient(to bottom right,  #F9D796, #F39F86);
    display: flex;
    justify-content: flex-start;
    height: 8vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.footer-info {
    display: flex;
    gap: 15px;
    margin-left: 2%;
}